a:link {
  text-decoration: none;
  color: rgb(18, 91, 164);
}

a:visited {
  color: rgb(18, 91, 164);
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: rgb(26, 49, 73);
}

form {
  color: rgb(26, 49, 73);
}